<div class="page-width page-width--tiny page-content">
  <div class="form-vertical">
    {%- form 'reset_customer_password' -%}

      <header class="section-header">
        <h1 class="section-header__title">{{ 'actions.reset_account_password' | t }}</h1>
        <p>{{ 'actions.enter_new_password' | t: email: email }}</p>
      </header>

      {{ form.errors | default_errors }}

      <label for="ResetPassword" class="visually-hidden">{{ 'labels.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'labels.password' | t }}">

      <label for="PasswordConfirmation" class="visually-hidden">{{ 'actions.confirm_password' | t }}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'actions.confirm_password' | t }}">

      <div class="text-center">
        <label for="reset-password-submit" class="visually-hidden">{{ 'actions.reset_password' | t }}</label>
        <button type="submit" id="reset-password-submit" class="btn btn--full">
          {{ 'actions.reset_password' | t }}
        </button>
      </div>

    {%- endform -%}
  </div>
</div>
